# Netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Maven 
target/

# Class Files #
*.class

# Package Files #
# *.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#general  files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.ctxt

# Misc
.settings/
.project
.classpath
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag